*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(121, 116, 102);
}
.container{
    width: 60%;
    background-color: rgb(75, 72, 63);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 0 20px rgb(73, 73, 73);
    color: white;
}
h1 {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}
.inserimenti{
    width: 100%;
    display: flex;
    justify-content: center;
}
#send-parola{
    margin-left: 10px;
}
input, select{
    width: 200px;
    margin-right: 10px;
    height: 100%;
}

h2{
    margin: 40px 0;
    text-transform: uppercase;
    color: rgb(158, 158, 158);
}

button {
    padding: 7px 20px;
    border-radius: 20px;
}